* {
  box-sizing: border-box;
  margin: 0 auto;
}

.border{
  position: relative;
  background-color: #557589;
  padding: 0.6em;
  width: 80%;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.border img{
  width: 163px;
  height: 40px;
}

.background{
  background-color: #36647e;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 43%;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 6px;
  width: 750px;
}

.banner{
  background-color: #eeeff1;
  color: white;
  margin-bottom: 10px;
}

.opciones {
  display: flex;
  flex-direction: row;
  margin-left: 10em;
  font-size: 1.2em;
  padding-top: 1em;;
  width: 75%;
}



.products {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
}

.products img {
  height: 300px;
  width: 300px;
  padding: 1em;
}


.slider {
  scroll-snap-align: center;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
    
}
  
.slider img {
  text-align: center;
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  box-shadow: black 4px 4px 40px;
}

.background-footer{
  background-color: #D4D9DD;
  width: 100%;
  height: 30em;
  color: #D4D9DD;
  padding: 1em;
}

.footer {
  background-color: #D4D9DD;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-text{
  background-color: #D4D9DD;
  color: #58595B;
  padding: 1em;
  text-align: justify;
}

.search {
  margin-right: 100px;
  margin-top: 15px;
}


.line{
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 20px;
}

.app{
  margin-right: 15px;
  margin-left: 15px;
}

.social{
  margin-right: 15px;
  margin-left: 15px;
}

.ubicacion{
  margin-right: 15px;
  margin-left: 15px;
}

.contacto{
  margin-right: 15px;
  margin-left: 15px;
}

.idioma{
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.barritas {
  display: none;
}

@media (max-width: 1667.180px) {
  
  .border{
    position: relative;
    background-color: #557589;
    padding: 0.6em;
    width: 80%;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .border img{
    width: 163px;
    height: 40px;
  }
  
  .background{
    background-color: #36647e;
    color: white;
  }
  
  .menu {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 43%;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 6px;
    width: 750px;
  }
  
  .banner{
    background-color: #eeeff1;
    color: white;
    margin-bottom: 10px;
  
  }
  
  .opciones {
    display: flex;
    flex-direction: row;
    margin-left: 10em;
    font-size: 1.2em;
    padding-top: 1em;;
    width: 75%;
  }
  
  .products {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
  }
  
  .products img {
    height: 300px;
    width: 300px;
    padding: 1em;
  }
  
  
  .slider {
    scroll-snap-align: center;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
      
  }
    
  .slider img {
    text-align: center;
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    box-shadow: black 4px 4px 40px;
  }
  
  .background-footer{
    background-color: #D4D9DD;
    width: 100%;
    height: 30em;
    color: #D4D9DD;
    padding: 1em;
  }
  
  .footer {
    background-color: #D4D9DD;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .footer-text{
    background-color: #D4D9DD;
    color: #58595B;
    padding: 1em;
    text-align: justify;
  }
  
  .search {
    margin-right: 100px;
    margin-top: 15px;
  }
  
  
  .line{
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 20px;
  }
  
  .app{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .social{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .ubicacion{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .contacto{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .idioma{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .barritas {
    display: none;
  }
}

@media (max-width: 1222.330px) {

.products {
  grid-template-columns: 1fr 1fr 1fr;
}

}

@media (max-width: 916.500px) {

  .products {
    grid-template-columns: 1fr 1fr;
  }
  

}

@media (max-width: 611.667px) {

    .products {
    grid-template-columns: 1fr;
  }
    
}
  
@media (max-width: 1222.330px) {

.footer {
  grid-template-columns: 1fr 1fr 1fr;
}
  
}
  
@media (max-width: 916.500px) {
  
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    margin-left: 10%;
    margin-right: 10%;
  }
  
}
@media (max-width: 611.667px) {
  
    .footer {
    grid-template-columns: 1fr;

  }
      
}

@media (max-width: 734px) {
  
  .border {
  grid-template-columns: 1fr;
}
    
}

@media (max-width: 916.500px) {

  .slider {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .search {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .line {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .app {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .social {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .ubicacion {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .contacto {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .idioma {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .compromiso {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .franquicias {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .condis {
    display: none;
  }

}

@media (max-width: 916.500px) {

  .enseñas {
    display: none;
  }

}


@media (max-width: 916.500px) {

  .barritas {
    display: block;
  }
  .barritas img{
    height: 45px;
    width: 55px;
  }
}

@media (max-width: 650.667px) {
  .barritas {
    position: relative;
    right: 40px;
  }

  .barritas img{
    position: relative;
    height: 45px;
    width: 55px;
    right: 30px;
  }
}

@media (max-width: 480.750px) {
  .barritas {
    position: relative;
    right: 14px;
  }

  .barritas img{
    position: relative;
    height: 45px;
    width: 55px;
    right: 140px;
  }
}

@media (max-width: 380px) {
  .barritas {
    position: relative;
    right: 100px;
  }

  .barritas img{
    position: relative;
    height: 45px;
    width: 55px;
    right: 100px;
  }
}

@media (max-width: 916.500px) {
  .logo {
    position: relative;
  }

  .logo img{
    position: relative;
    left: 50px;
  }
}

@media (max-width: 480.750px) {
  .logo {
    position: relative;
  }

  .logo img{
    position: relative;
    right: 60px;
  }
}

@media (max-width: 380px) {
  .logo {
    position: relative;
  }

  .logo img{
    position: relative;
    right: 100px;
  }
}

@media (max-width: 1300.330px) {
  .compromiso {
    display: none;
  }
}

@media (max-width: 1070.570px) {
  .franquicias {
    display: none;
  }
}

@media (max-width: 1070.570px) {
  .condis  {
    display: none;
  }
}

@media (max-width: 1300.330px) {
  .idioma {
    display: none;
  }
}

@media (max-width: 1070.570px) {
  .contacto {
    display: none;
  }
}

@media (max-width: 930.500px) {
  .ubicacion {
    display: none;
  }
}

@media (max-width: 930.500px) {
  .social {
    right: 20px;
    position: relative;
  }
}

@media (max-width: 930.500px) {
  .app {
    right: 15px;
    position: relative;
  }
}


